@font-face {
    font-family: HK;
    src: url(/fonts/trajan-pro/TrajanPro-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: HK;
    src: url(/fonts/trajan-pro/TrajanPro-Bold.otf) format("opentype");
    font-weight: 900;
}